/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* The form container */
.container {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(219, 122, 147);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  align-self: center;
}

button:hover {
  background-color: rgb(207, 83, 114);
  cursor:pointer;
}

p a {
  text-decoration: none;
}

/* Styling the chatbot trigger button */
.chatbot-button {
  position: fixed;
  bottom: 70px;
  right: 90px;
  width: 60px;
  height: 60px;
  background-color: #CF5372;
  color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  z-index: 999;
  transition: background-color 0.3s ease;
}

.chatbot-button:hover {
  background-color: #cc3057;
}

.chatbot-container {
  position: fixed;
  bottom: 115px;
  right: 135px;
  width: 350px;
  height: 500px;
  display: none;
  background-color: #fff;
  border: 1px solid #CF5372;
  border-radius: 8px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  background-color: #CF5372;
}

.chatbot-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
