/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0px;
  padding: 0;
}
.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding-bottom: 90px;
}

/* Panel Styles */
.panel-primary {
  border: 1px solid rgb(219, 122, 147);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(219, 122, 147);
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.panel-heading {
  background-color: rgb(219, 122, 147);
  color: white;
  padding: 15px;
  text-align: center;
}
.panel-body {
  padding: 20px;
  background-color: #ffffff;
}
.panel-footer {
  background-color: #f5f5f5;
  padding: 10px;
  color: #555;
}

/* Form Elements */
label {
  font-weight: bold;
}
.form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.radio-inline input {
  margin-right: 5px;
}

/* Buttons */
.btn-primary {
  background-color: rgb(219, 122, 147);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.btn-primary:hovr {
  background-color: #a12041;
}

/* Links */
a {
  text-decoration: none;
}

.mark {
  text-align: right;
  padding:20px;
  background-color: rgb(219, 122, 147);
}
